<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>Animals</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" />
</head>
<body>
   <div class="container">
    <div class="row mt-5">
        <div class="col-2">
           <p>Home</p>
           <p>Animals</p>
           <p>Dog</p>
           <p>Cat</p>
        </div>
        <div class="col-10">
            <div class="row ">
                {% for data in os %}
                <div class="col-3">
                    <div>
                        <figure>
                            <img src={{data.image.url}} width="200" height="200"   />
                            <figcaption>
                                {{data.name}} and {{data.age}}
                            </figcaption>
                        </figure>
                    </div>

                </div>
                {% endfor %}
            </div>
        </div>
    </div>
   </div>
</body>
</html>